<center>
<h1>Billinho</h1>
<p><%= link_to "Instituições de ensino", "/instituicao" %></p>
<p><%= link_to "Alunos", "/aluno" %></p>
<p><%= link_to "Matriculas", "/matricula" %></p>
<p><%= link_to "Faturas", "/fatura" %></p>

